# base env
UVICORN_HOST = "0.0.0.0"
UVICORN_PORT = "8000"
API_TITLE = "Equilator API"
API_VERSION = "v1.0.0"
DATABASE_URL = "postgresql+asyncpg://root:root@equilator_api_db:5432/eq_db"
CORS_MIDDLEWARE_ORIGINS = "*"
SQL_ENGINE_ECHO = 0
# auth env
API_KEY = "secret"

# monitoring env
MONITORING_ENABLED = "False"
# SENTRY_DSN = "https://9a206fb859f1442da0a3154d6131f3b3@o1378829.ingest.sentry.io/4503958464495616"
SENTRY_DSN = ""
SENTRY_TRACES_SAMPLE_RATE = "1.0"
SENTRY_TRANSACTION_STYLE = "url"
